<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gustavo Dudamel</title>
</head>

<body>
    <style>
        body{
            background-color: #313131;
        }
        .title{
            color:#fff;
        }
        .sub-title {
            color: #fff;
            margin-top: 40px;
        }

        p {
            color:#fff;
            font-size: 20px;
            text-align:justify;
            margin: 15px;
        }
        img {
            border-radius: 50%
        }
    </style>

    <h1 class="title"">Gustavo Dudamel</h1>
    <img src="https://pbs.twimg.com/profile_images/1420487625824145420/6Ai6dbY6_400x400.jpg" alt="dudamel">
    <p>Es un músico, compositor y director de orquesta venezolano. Es el director de la Orquesta Filarmónica de Los Ángeles y de la Orquesta Sinfónica Simón Bolívar. </p>

    <p>Se inició en la música popular de la mano de su padre. A los cuatro años, empieza a dar clases de violín bajo el Sistema de Orquestas Juveniles e Infantiles de Venezuela (El Sistema).</p>

    <p>Cursó estudios en el Conservatorio Jacinto Lara, y luego en la Academia Latinoamericana de Violín. Estudió también dirección orquestal desde 1995 con Rodolfo Saglimbeni.</p>

    <h2 class="sub-title">Director de Orquesta</h2>

    <p>En 1996, fue nombrado Director Musical de la Orquesta de Cámara Amadeus, donde su talento fue descubierto por José Antonio Abreu, quien se convertiría en su mentor. Concertino de la Sinfónica Infantil de Venezuela, sobresalió como compositor de ensambles. Desde 1999 fue director de música de la Orquesta Sinfónica Simón Bolívar y de la Orquesta Sinfónica Nacional de la Juventud de Venezuela.</p>

    <p>En 2004 fue galardonado con el primer premio en el Concurso de Dirección Gustav Mahler, celebrado en Bamberg, Alemania. Al año siguiente debutó en los Proms de Londres, y recibió el Premio Anillo de Beethoven, por la sociedad de amigos del Festival Internacional de Beethoven, de Bonn. Dirigió también y por primera vez, la Orquesta Sinfónica de Gotemburgo en los Proms; la Orquesta Filarmónica de Israel y la Orquesta Filarmónica de Los Ángeles.</p>

    <p>Durante 2006 fue director invitado en conciertos con la Orquesta Sinfónica de la Ciudad de Birmingham, con la Orquesta Estatal Sajona de Dresde y la Orquesta Filarmónica Real de Liverpool. Debutó en el Teatro de La Scala de Milán, con la ópera Don Giovanni y grabó con la Orquesta Sinfónica Simón Bolívar su primer disco para el sello Deutsche Grammophon con la quinta y la séptima sinfonías de Ludwig van Beethoven.</p>

    <h2 class="sub-title">Reconocimientos</h2>
    <p>- En 2004, ganó el primer premio en el Concurso de Dirección Gustav Mahler, que se celebró en Bamberg, Alemania.</p>
    <p>- En 2005 realizó su debut en los Proms de Londres, y recibió el Premio Anillo de Beethoven, creado por la sociedad de amigos del Festival Internacional de Beethoven, de Bonn.</p>
    <p>- En febrero de 2012 ganó el Grammy Award a la mejor interpretación orquestal, junto a la Orquesta Filarmónica de Los Ángeles, por la ejecución de la Sinfonía n.º 4 de Brahms. </p>
    <p>- En 2015 fue nominado a los Premios Platino en la categoría Mejor Música Original por la película Libertador.</p>
    <p>- El 26 de febrero de 2020 gana nuevamente el premio Grammy a mejor dirección orquestal por la pieza original "Norman: Sustain".</p>
    <p>- En 15 de marzo de 2021 gana su tercer Grammy por la dirección de la pieza "Ives: Complete Symphonies".</p>
    <p>- El 16 de abril de 2021 fue nombrado director musical de la Ópera de París.</p>
    <p>- El 3 de abril de 2022 gana su cuarto Grammy esta vez como "Mejor Interpretación Coral" por la interpretación de la pieza "Mahler: Symphony No. 8, Symphony Of a Thousand".</p>
</body>

</html>